In [27]:
import numpy as np
import pandas as pd

In [28]:
df = pd.read_csv("../data/raw/bangalore house price prediction.csv")

In [29]:
df.duplicated().sum()

np.int64(467)

In [30]:
# remove duplicated rows
df.drop_duplicates(inplace=True)

In [31]:
df.duplicated().sum() # no duplicate rows now

np.int64(0)

In [32]:
df.isnull().sum() # no null values

bath                           0
balcony                        0
price                          0
total_sqft_int                 0
bhk                            0
                              ..
location_Hosur Road            0
location_Horamavu Banaswadi    0
location_Domlur                0
location_Mahadevpura           0
location_Tumkur Road           0
Length: 108, dtype: int64

In [33]:
df.select_dtypes(include=['object']).columns

Index([], dtype='object')

Detect outlier in price

In [34]:

Q1 = df["price_per_sqft"].quantile(0.25)
Q3 = df["price_per_sqft"].quantile(0.75)
IQR = Q3-Q1

lower_bound = Q1 - 1.5 *IQR
upper_bound = Q3 + 1.5 * IQR

print(f"Price per sqft should be between {lower_bound} and {upper_bound}")

Price per sqft should be between 1160.7142857142862 and 9970.238095238095

In [35]:
df.shape[0]

6653

Remove Outlier

In [36]:
df = df[(df["price_per_sqft"] >= lower_bound ) & (df["price_per_sqft"] <= upper_bound )]

In [37]:
df.shape[0]

6216

In [39]:
# Check if sqft per bhk is reasonable (min 300 sqft per bhk)
df = df[df['total_sqft_int'] / df['bhk'] >= 300]

In [41]:
df = df[df['bath'] < df['bhk'] + 2]

In [42]:
df.to_csv("../data/processed/cleaned_data.csv" , index=False)
print(f"Saved {len(df)} rows after cleaning")

Saved 6216 rows after cleaning